<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am currently a Masters student at University of Massachusetts, Amherst looking for full time opportunities starting June 2018.
        I am interested in machine learning and artificial intelligence , specifically the domain of computer vision.
    
    I am also interested in Human computer interaction and data science and have previous development experience as a full stack developer.</p>
</div><!--//summary-->
</section><!--//section-->