<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am a software engineer and currently a Masters student at University of Massachusetts, Amherst.
        I am interested in machine learning and artificial intelligence , specifically the domain of computer vision.
    Currently, I am looking for a full time opportunity starting from June 2018 as I'll be finishing Graduate school at that time.
    I am also interested in Human computer interaction and data science.</p>
</div><!--//summary-->
</section><!--//section-->