<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Engineering Fellow</h3>
                            <div class="time">May 2017 - July 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Uru videos, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p> • Programmed image processing for front end rendering using JSFeat and SVG
                           elements.</p>
                        <p>• Design and execution of services in java on spring framework and in python
                            using libraries like pysceneDetect and celery.</p>
                        <p>• Secondary research on competitive intelligence and industry benchmarks to
                            inform product design.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">July 2014 - July 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">eBay, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Intern</h3>
                            <div class="time">Jan 2014 - May 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">eBay, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->