<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Nov 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">UMass, Amherst</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p> Software Developer in the project,Progression and Transmission of HIV (PATH), in collaboration with CDC(Centers for Disease Control and Prevention) which aims at developing agent-based simulation models to identify optimal combination interventions to achieve the NHAS goal.</p> <p>
 Working with the data obtained from the simulation of these models on creating a data visualization dashboard. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Engineering Fellow</h3>
                            <div class="time">May 2017 - July 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Uru videos, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p> • Programmed image processing for front end rendering using JSFeat and SVG
                           elements.</p>
                        <p>• Design and execution of services in java on spring framework and in python
                            using libraries like pysceneDetect and celery.</p>
                        <p>• Secondary research on competitive intelligence and industry benchmarks to
                            inform product design.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">July 2014 - July 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">eBay, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as a full stack developer with techno-managerial responsibilities including development, release and management of about 24 service cycles for eBay Global Deals project.</p>
                        <p>The project consisted of designing and developing the deals pages for serving international markets devoid of complete ebay website using java for backend and jsp/javascript/jQuery for front end development 
                        </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Intern</h3>
                            <div class="time">Jan 2014 - May 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">eBay, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Analyzed 10 years worth of billing data with the Monetization team and published the results internally on a web
tool using Play, MongoDB and jQuery.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->