<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div>
    <!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/rahulhanda123/emotionRecognition">Emotion Recognition</a></span> - <span class="project-tagline">Recognizing emotions in real time webcam feed. The project consisted of recognizing
facial features in the video and then predicting the emotions on a trained
”fisherfaces” recognizer.</span>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Traffic Sign Recognition</a></span> -
        <span class="project-tagline">Traffic Sign recognition on the GTSRB dataset. LeNet inspired neural network is fed with pre processed
data(resizing, contrast normalization). Randomly distorted images are added to the dataset to increase the
training data. </span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
    </div>
    <!--//item-->
</section>
<!--//section-->